# Assignment Final
Los datos que se incluyen en el fichero `datos_ventas_centros_comerciales.csv` representan casi 100.000 compra-ventas realizadas en un grupo de Centros Comerciales durantes los años 2021 y 2022. 

Como analista del holding propietario de los centros comerciales realiza un analisis respondiendo a las siguiente preguntas.

In [20]:
# Importamos Pandas y creamos el DataFrame con el csv
import pandas as pd
df = pd.read_csv(r"C:\Users\andy_\Documents\Bootcamp DA\Clases Python\proyecto final\datos_ventas_centros_comerciales (1).csv")
df

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,8172.24,05-08-2022,Kanyon
1,I317333,C111565,Shoes,3,8868.64,12-12-2021,Forum Istanbul
2,I127801,C266599,Clothing,1,4863.95,09-11-2021,Metrocity
3,I173702,C988172,Shoes,5,711.48,16-05-2021,Metropol AVM
4,I337046,C189076,Books,4,1110.32,24-10-2021,Kanyon
...,...,...,...,...,...,...,...
99452,I219422,C441542,Souvenir,5,6692.42,21-09-2022,Kanyon
99453,I325143,C569580,Food & Beverage,2,8397.24,22-09-2021,Forum Istanbul
99454,I824010,C103292,Food & Beverage,2,3253.27,28-03-2021,Metrocity
99455,I702964,C800631,Technology,4,6626.41,16-03-2021,Istinye Park
99456,I232867,C273973,Souvenir,3,6224.72,15-10-2022,Mall of Istanbul

In [21]:
# Uso todas las funciones para conocer los datos del DataFrame
df.describe()
df.value_counts().sort_values(ascending=False)
df.info()
len(df.index)
df.dtypes
df.columns
df.isnull().sum().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_no     99457 non-null  object
 1   customer_id    99457 non-null  object
 2   category       99457 non-null  object
 3   quantity       99457 non-null  int64
 4   price          99457 non-null  float64
 5   invoice_date   99457 non-null  object
 6   shopping_mall  99457 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 5.3+ MB

0

# 1. ¿Cuál es el total de ingresos generados por todas las ventas registradas?
Guarda el resultado en una variable llamada `total_ingresos`

In [22]:
# Creamos un programa para poder recoger los datos de multiplicar el total de precios por cantidad vendida
# Quiero aclarar que he usado las columnas cantidad y precios porque al no especificarse en ninguna columna, entiendo que el precio es por unidad
df["total_venta"] = df["price"] * df["quantity"]

# Creamos la variable total_ingresos y sumamos con el metodo .sum()
total_ingresos = df["total_venta"].sum()

# Printamos el resultado
print("El total de los ingresos por ventas generadas es:", total_ingresos)

El total de los ingresos por ventas generadas es: 1490921515.7099998

# 2. ¿Cuál es el centro comercial que ha generado más ventas?
Guarda el resultado en una variable llamada `centro_comercial_mas_ventas`

In [23]:
# Agrupos con la variable ventas_por_centro_comercial con la funcion groupby() con las columnas ventas_por_centro_comercial ylos ingresos con el metodo .sum()
ventas_por_centro_comercial = df.groupby("shopping_mall")["total_venta"].sum()

# Ahora obtenemos el centro comercial con más ventas y creamos la variable llamada centro_comercial_mas_ventas 
centro_comercial_con_mas_ventas = ventas_por_centro_comercial.idxmax()
total_ventas = ventas_por_centro_comercial.max()

# Printamos el resultado
print("El centro comercial con más ventas :", centro_comercial_con_mas_ventas)

El centro comercial con más ventas : Mall of Istanbul

# 3. ¿Cuál es la categoría de producto que ha generado mas ventas? 
Guarda el resultado en una variable llamada `categoria_mas_vendida`

In [24]:
# Agrupamos con la variable productos_vendidos con la funcion groupby() con las columnas de las categorias y la cantidad de productoss vendidos con el metodo .sum()
productos_vendidos = df.groupby("category")["quantity"].sum()

# Ahora obtenemos la categoria más vendida y creamos la variable llamada categoria_mas_vendida 
categoria_mas_vendia = productos_vendidos.idxmax()
total_productos = productos_vendidos.max()

# Printamos el resultado
print("La categoria más vendida es:", categoria_mas_vendia)

La categoria más vendida es: Clothing

# 4. ¿Cuál es el producto más caro vendido?
Guarda el resultado en una variable llamada `categoria_producto_mas_caro`

In [25]:
# Creamos la variable categoria_producto_más_caro y le pasamos la funcion .loc()
categoria_producto_mas_caro = df.loc[df['price'].idxmax()]

# Printamos el resultado
print("El producto más caro es:", categoria_producto_mas_caro)

El producto más caro es: invoice_no          I321299
customer_id         C103251
category               Toys
quantity                  1
price               9999.85
invoice_date     11-02-2023
shopping_mall        Kanyon
total_venta         9999.85
Name: 85137, dtype: object

# 5. ¿Cuál es la factura más antigua registrada en el dataset?
Guarda el resultado en una variable llamada `factura_mas_antigua`

In [26]:
# Usamos el metodo .idxmin() sobre la columna invoice_date para saber la fecha más antigüa
df["invoice_date"] = df["invoice_date"].idxmin()
df

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall,total_venta
0,I138884,C241288,Clothing,5,8172.24,4296,Kanyon,40861.20
1,I317333,C111565,Shoes,3,8868.64,4296,Forum Istanbul,26605.92
2,I127801,C266599,Clothing,1,4863.95,4296,Metrocity,4863.95
3,I173702,C988172,Shoes,5,711.48,4296,Metropol AVM,3557.40
4,I337046,C189076,Books,4,1110.32,4296,Kanyon,4441.28
...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Souvenir,5,6692.42,4296,Kanyon,33462.10
99453,I325143,C569580,Food & Beverage,2,8397.24,4296,Forum Istanbul,16794.48
99454,I824010,C103292,Food & Beverage,2,3253.27,4296,Metrocity,6506.54
99455,I702964,C800631,Technology,4,6626.41,4296,Istinye Park,26505.64
99456,I232867,C273973,Souvenir,3,6224.72,4296,Mall of Istanbul,18674.16

In [27]:
# Filtramos las fechas y nos  aseguramos que aparezca en el orden "año-mes-dia" como nos pidio Leandro en la sesion 8, proyecto real de las películas y usamos la funcion pd.to_datetime
df["invoice_date"] = pd.to_datetime(df["invoice_date"])

# Juntamos las columnas de facturas y fechas de las factura para que salgan las más antiguas
factura_mas_antigua = df.groupby("invoice_no")["invoice_date"].min()

#Printamos el resultado
print(factura_mas_antigua)

invoice_no
I100008   1970-01-01 00:00:00.000004296
I100014   1970-01-01 00:00:00.000004296
I100015   1970-01-01 00:00:00.000004296
I100024   1970-01-01 00:00:00.000004296
I100027   1970-01-01 00:00:00.000004296
                       ...
I999956   1970-01-01 00:00:00.000004296
I999959   1970-01-01 00:00:00.000004296
I999972   1970-01-01 00:00:00.000004296
I999973   1970-01-01 00:00:00.000004296
I999994   1970-01-01 00:00:00.000004296
Name: invoice_date, Length: 99457, dtype: datetime64[ns]

# 6. ¿Cuál es la cantidad promedio de productos vendidos por transacción?
Guarda el resultado en una variable llamada `cantidad_promedio_por_transaccion`

In [28]:
# Creamos la variables productos por transaccion con los productos y la cantidad 
productos_por_transaccion = df.groupby("invoice_no")["quantity"].mean().sum()

# Calculamos el promedio de los productos vendidos 
cantidad_promedio_por_transaccion = productos_por_transaccion.mean()

# Printamos el resultado
print("El promedio de los productos vendidos por transacion es:", cantidad_promedio_por_transaccion)

El promedio de los productos vendidos por transacion es: 298712.0

# 7. ¿Cuál es el día con más ventas registradas?
Guarda el resultado en una variable llamada `dia_con_mas_ventas`

In [29]:
# Aseguramos que "invoice_date" es un datetime
df["invoice_date"] = pd.to_datetime(df["invoice_date"])

3 # Agrupamos por fechas de factura y por ingresos
ventas_diarias = df.groupby("invoice_date")["total_venta"].sum().reset_index()

# Encontramos el indice con el dia con más ingresos(ventas)
indice_dia_max_ventas = ventas_diarias["total_venta"].idxmax()

# Filtramos la fila con el dia con más ventas
dias_con_mas_ventas = ventas_diarias.loc[indice_dia_max_ventas]

# Printamos resultado
print(dias_con_mas_ventas)

invoice_date    1970-01-01 00:00:00.000004296
total_venta                     1490921515.71
Name: 0, dtype: object

# 8. ¿Cuál es el cliente que más ha gastado en total?
Guarda el resultado en una variable llamada `cliente_que_mas_gasto`

In [30]:
# Agrupamos los clientes y sumamos los ingresos de cada uno
gastos_por_cliente = df.groupby("customer_id")["total_venta"].sum()

# Ahora vamos a buscar el cliente que más ha gastado 
cliente_que_mas_gasto = gastos_por_cliente.idxmax()

# Printamos resultado
print("El cliente que más ha gastado es:", cliente_que_mas_gasto)

El cliente que más ha gastado es: C307063

# 9. ¿Cuál es la factura con el precio total más alto?
Guarda el resultado en una variable llamada `factura_max_valor`

In [31]:
# Aqui he usado la formula que Leandro nos enseños en el proyecto de las peliculas usando el indice de facturas aplicando a la columna del total_venta la funcion idxmax() para saber el precio más alto
factura_max_valor = df.set_index("invoice_no")["total_venta"].idxmax()

# Printamos resultado
print("La factura con el precio total más alto es:", factura_max_valor)

La factura con el precio total más alto es: I311640

# 10. ¿Cuál es la distribución porcentual de ventas por categoría de producto?
Guarda el resultado en una variable llamada `distribucion_porcentual_ventas_por_categoria`. El tipo de `distribucion_porcentual_ventas_por_categoria` debe ser `pandas.core.series.Series` donde las etiquetas deben ser las categorias y los valores deben ser la distribucion porcentual de las ventas por categoría

In [32]:
# Agrupamos la columna categoria y los ingresos 
ventas_por_categoria = df.groupby("category")["total_venta"].sum()

# Creamos la variables total_ventas y calculamos el total de las ventas 
total_ventas = ventas_por_categoria.sum()

# Calculamos la distribución porcentual usando las variables creadas anteriormente 
distribucion_porcentual_ventas_por_categoria = (ventas_por_categoria / total_ventas) * 100

# Printamos resultado
print(distribucion_porcentual_ventas_por_categoria)

category
Books               4.991948
Clothing           34.502427
Cosmetics          15.222939
Food & Beverage    14.915931
Shoes              10.170227
Souvenir            4.974746
Technology          5.061530
Toys               10.160253
Name: total_venta, dtype: float64

# 11. ¿Cuál es el día de la semana con más ventas registradas en cada centro comercial?
Guarda el resultado en una variable llamada `dia_semana_mas_ventas_por_centro`. El tipo de `dia_semana_mas_ventas_por_centro` debe ser `pandas.core.series.Series` donde las etiquetas deben ser el nombre de los centros comerciales y los valores deben ser el nombre del dia de la semana con mas ventas.

In [33]:
# Convertimos la columna a tipo datetime
df["invoice_date"] = pd.to_datetime(df["invoice_date"])

# Luego extraemos el día de la semana
df["dia_de_la_semana"] = df["invoice_date"].dt.day_name()

# Agrupamos por centro comercial, dia de la semana y sumar las ventas(total_venta)
ventas_por_dia_y_centro = df.groupby(["shopping_mall", "dia_de_la_semana"])["total_venta"].sum().reset_index()

# Encontramos el dia con más ventas por cada centro comercial
dia_max_ventas = ventas_por_dia_y_centro.groupby("shopping_mall")["total_venta"].idxmax()

# Filtramos las filas con los días con más ventas
dia_semana_mas_ventas_por_centro = ventas_por_dia_y_centro.loc[dia_max_ventas]

# Printamos resultado
print(dia_semana_mas_ventas_por_centro)

       shopping_mall dia_de_la_semana   total_venta
0        Cevahir AVM         Thursday  7.369621e+07
1  Emaar Square Mall         Thursday  7.311491e+07
2     Forum Istanbul         Thursday  7.444548e+07
3       Istinye Park         Thursday  1.478885e+08
4             Kanyon         Thursday  2.966126e+08
5   Mall of Istanbul         Thursday  2.987439e+08
6          Metrocity         Thursday  2.240598e+08
7       Metropol AVM         Thursday  1.518731e+08
8     Viaport Outlet         Thursday  7.343815e+07
9       Zorlu Center         Thursday  7.704880e+07

## Cuantas facturas fraudulentas hay por centro comercial? 

La respuesta ha de ser un DataFrame con 2 columnas: Centro Comercial y Numero de facturas fraudulentas

In [34]:
# Cargo el DataFrame con las facturas fraudulentas
facturas_fraudulentas = pd.read_csv(r"C:\Users\andy_\Documents\Bootcamp DA\Clases Python\proyecto final\fraud_invoices.csv")

# Cargo el DataFrame con las facturas originiales 
df = pd.read_csv(r"C:\Users\andy_\Documents\Bootcamp DA\Clases Python\proyecto final\datos_ventas_centros_comerciales (1).csv")

In [35]:
# Introduzco la columna de centros comerciales en el DataFrame de las facturas fraudulentas
facturas_fraudulentas["shopping_mall"] = df["shopping_mall"]

In [36]:
# Hago el merge entre los DataFrames de facturas fraudulentas y el DataFrame completo de facturas
facturas_fraudulentas_detalladas = pd.merge(facturas_fraudulentas,
                                  df, 
                                  on="invoice_no", 
                                  how="inner")  # Sólo combinamos las facturas fraudulentas

# Agrupo por 'shopping_mall' y cuento el número de facturas fraudulentas en cada centro comercial
fraudulentas_por_centro_comercial = facturas_fraudulentas.groupby("shopping_mall")["invoice_no"].count().reset_index()

# Renombro las columnas para que el DataFrame sea el que buscamos
fraudulentas_por_centro_comercial.columns = ["Centro Comercial", "Numero de facturas fraudulentas"]

print(fraudulentas_por_centro_comercial)

    Centro Comercial  Numero de facturas fraudulentas
0        Cevahir AVM                               23
1  Emaar Square Mall                               24
2     Forum Istanbul                               17
3       Istinye Park                               29
4             Kanyon                               90
5   Mall of Istanbul                               57
6          Metrocity                               50
7       Metropol AVM                               42
8     Viaport Outlet                               18
9       Zorlu Center                               19

## Cual es la perdida asumida por cada centro comercial? (Perdida entendida como el dinero que los centros comerciales no van a ingresar por esas facturas)

La respuesta a este pregunta debe se run DataFrame con 2 columnas: Centro Comercial y Perdida total

In [37]:
# Introduzco las columnas de cantidad y precio en el DataFrame de facturas_fraudulentas
facturas_fraudulentas["quantity"] = df["quantity"]
facturas_fraudulentas["price"] = df["price"]

In [38]:
# Como antes filtramos las facturas fraudulentas con pd.merge()
facturas_fraudulentas_detalladas = pd.merge(facturas_fraudulentas,
                                  df, 
                                  on="invoice_no", 
                                  how="inner")  

# Calculo la cantidad que no se va a ingresar / Para ellos calculamos el total con las columnas de cantidad * precio de las facturas_fraudulentas
facturas_fraudulentas["Perdida total"] = facturas_fraudulentas["quantity"] * facturas_fraudulentas["price"]

# Agrupo por centro comercial y calculo la pérdida total por cada centro comercial
perdidas_por__centro_comercial = facturas_fraudulentas.groupby("shopping_mall")["Perdida total"].sum().reset_index()

# Renombro las columnas para que el DataFrame salga como buscamos
perdidas_por__centro_comercial.columns = ["Centro_Comercial", "Perdida_total"]

# Printamos resultado
print(perdidas_por__centro_comercial)

    Centro_Comercial  Perdida_total
0        Cevahir AVM      292699.17
1  Emaar Square Mall      343999.62
2     Forum Istanbul      314840.37
3       Istinye Park      377562.82
4             Kanyon     1370733.24
5   Mall of Istanbul      901609.55
6          Metrocity      879069.83
7       Metropol AVM      525074.35
8     Viaport Outlet      281878.23
9       Zorlu Center      248884.08